/*Body Container*/
body {
    background-color: #f1faee;
    font-family: Arial, Helvetica, sans-serif;
    color: #1d3557;
}

/*Header Styles*/
.header {
    color: #e63946;
    text-align: center;
}

.sub-headers {
    color: #457b9d;
}

/*Image Styles*/
img {
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.pizza-img { /*Pizza Image*/
    height: 500px;
    width: 500px;
}

/*Homepage Styles*/
div.list-container {
    text-align: center;
}

.list-home {
    color: #457b9d;
    font-size: 18px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

/*Recipe Styles*/
.description-container {
    text-align: center;
}

/*Pizza Styles*/
.history-pizza {
    font-weight: 800;
}



/*Footer Container and Styles*/
footer {
    position: relative;
    height: 120px;
    width: 100%;
    background-color: #f1faee;
}

.redirect-container {
    text-align: center;
}

.redirect {
    display: inline-block;
    font-weight: 800;
    margin-left: auto;
    margin-right: auto;
}

p.copyright {
    position: absolute;
    width: 100%;
    color: black;
    font-size: 12px;
    text-align: center;
    bottom:0;
}